.background {
  height: auto;
  width: 100%;
  filter: brightness(50%);
}

.logo {
  height: 35px;
  width: 35px;
  margin-top: -8px;
}

.feed a img {
  margin: 1% 1%;
  width: 23%;
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0c0c0c;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  font-family: "Poppins";
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: #f0c900;
}

.active {
  color: #f0c900;
  background-color: #0c0c0c;
}
